/*removendo margin e padding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.logo-rock {
  width: 40px;
}
.logo-onebitcode {
  width: 200px;
}
.header {
  width: 100%;
  min-height: 40px;
  background-color: black;
  display: flex;
  flex-wrap: wrap; /*Quebra os elementos*/
  align-items: center;
  justify-content: space-between; /*deixa os elementos espaçado*/
  padding: 30px;
  gap: 8px 15px; /*Quebra os elementos horizontalmente e verticalmente quando diminuir a tela*/
}
.buttons {
  display: flex;
  gap: 15px; /*espaçamento entre os botões*/
}
/*Manipulando os botões*/
.buttonHeader {
  font-size: 20lpx;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border-color: white;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.buttonHeader:hover {
  border-color: #ff0044;
}
.sectionTitle {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
}
.sectionDescription {
  text-align: center;
  color: #383838;
}
.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
}
.mainCardImg {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.sidebarCardImg {
  width: 100%;
  /*height: 180px;*/
  border-radius: 10px;
}
.categoryCard {
  width: 280px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: mainContent;
}
.categoryCard:hover {
  border-color: #ff0044;
}
.mainCategoryCardTitle {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}
.mainCategoryCardDescription {
  padding: 6px;
}
.sidebarContent {
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  grid-area: sidebarContant;
}
.sidebarCard {
  width: 75%;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.sidebarContent {
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  grid-area: sidebarContent;
}
.sidebarCard:hover {
  border-color: #ff0044;
}
.sidebarCardTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}
.logoFooter {
  width: 180px;
}
.footer {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}
.backToTop {
  color: white;
}
.footerAnchor {
  text-decoration: none;
}
.footerAnchor:hover {
  color: #ff0044;
  text-decoration: none;
}
